@import './assets/css/bootstrap.css';
@import './assets/css/styles.css';
@import './assets/css/icons.css';


.open {
    display: block;
}
.hu-color-picker{
    width: min-content !important;
    .colors .item:nth-child(8n+1) {
        margin-left: 10px !important;
    }
}